h1 {
  font-size: 2em;
  transition: all 0.3s;
  color: green;

  &:hover {
    transform: translateX(50px);
    color: red;
  }
}

.imageClass {
  width: 250px;
  height: auto;
  display: flex;
}

.bg {
  background-image: url('../images/webpack-logo.svg');
  // background-image: url('~images/webpack-logo.svg');
  // background-image: url('~@imgs/webpack-logo.svg');
  background-size: cover;
  width: 100px;
  height: 100px;
}
